<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuen636.test" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name="com.yuen636.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yuen636.activity.ActiveActivity" />
        <activity android:name="com.yuen636.activity.MyActiveActivity" />
        <activity android:name="com.yuen636.activity.MyActiveActivity2" />
        <activity android:name="com.yuen636.activity.CollectActivity" />
        <activity android:name="com.yuen636.activity.PersonalActivity" />
        <activity android:name="com.yuen636.activity.ChangeUserActivity"/>
    </application>

</manifest>
